@import "reset","variable","header";
.m-hotel{
	padding: 0;
    min-width: 300px;
    max-width: 640px;
    margin: 0 auto;
}
.container{
	padding:0 2%;
	section{
	   margin:2% 0 4%;
	   border-bottom: 1px solid #ccc;
	}
}
.lists{
    margin:2% 0;
}
.hotel-list{
	text-decoration: none;
	.img{
		width:100%;
		position:relative;
		font-size:0;
		img{
			width: 100%;
		}
		i{
			position: absolute;
		    top: .25rem;
		    right: .25rem;
			background: #fff;
		    width: 1rem;
		    height: 1rem;
		    border-radius: 100%;
		    text-align: center;
		    line-height: 1rem;
		    box-shadow:rgba(0, 0, 0, 0.3) 0 1px 2px;
		}
		h3{
			position:absolute;
			top:60%;
			left:0;
			background:rgba(0,128,119,.8);
			padding:.2rem .3rem;
			font-size:.6rem;
			color:#fff;
			border-radius: 0 30px 30px 0;
			font-family: "Microsoft YaHei";
			margin-left: -5%;
            padding-left: 5%;
			span{
				font-size:.4rem;
			}
		}
		p{
			position:absolute;
			bottom:0;
			left:0;
			width:100%;
			line-height:2;
			background:rgba(0,0,0,.6);
			font-size:.36rem;
			font-family: "Microsoft YaHei";
			color:#fff;
			padding:0 2%;
			span{
				background:#fff;
				border-radius:3px;
				color:#333;
				font-size:.34rem;
				padding:0 .1rem;
				margin-right:.2rem;
			}
		}
	}
	.text{
		padding:0 1%;
		margin:3% 0;
		.text-top{
			width:100%;
			height:auto;
			overflow:hidden;
			margin-bottom: .2rem;
            h3{
           	   float:left;
           	   font-size:.5rem;
           	   color:#333;
           	   line-height:.5rem;
           	   font-family: "Microsoft YaHei";
           	   width:60%;
           	}
           	p{
           		float:right;
           		font-size:.36rem;
           	    color:#666;
           	    line-height:.5rem;
           	    font-family: "Microsoft YaHei";
           	}
		}
		.text-com{
			font-size:.32rem;
			line-height:2.4;
			color:#666;
			font-family: "Microsoft YaHei";
			span{
				border:1px solid #008077;
				border-radius:3px;
				margin-right:.1rem;
				padding:2px 5px;
				&:nth-child(2n){
					border:1px solid #ff9500;
				}
			}
		}
		.text-bottom{
			font-family: "Microsoft YaHei";
            font-size:.36rem;
            line-height:1.8;
            color:#666;
		}
	}
}
.hotel-list-order{
	.img{
		i{
			background: #faae2d;
			color:#fff;
		}
	}
	.order{
		position:absolute;
		right: .5rem;
	    bottom: .5rem;
	    width: 18%;
	    z-index: 1;
	}
}
#scroll{
	position:fixed;
	right:5%;
	bottom:5%;
	width:.8rem;
	height:.8rem;
	background:rgba(0,0,0,.5);
	border-radius:5px;
	i{
		text-align: center;
	    line-height: .8rem;
	    display: block;
	    color: #ccc;
	}
}

/*g-page*/
.g-page{
	// position: fixed;
 //    top: 0;
 //    left: 0;
 //    right: 0;
 //    bottom:0;
 //    z-index: 1;
    background-color:#fff;
    display:none;
    -webkit-overflow-scrolling: touch;
    width:100%;
    height:100%;
    overflow:hidden;
}
.search-header{
	position:fixed;
	 z-index: 1;
	background-color:#fff;
	border-bottom:1px solid #f4f4f4;
	width:100%;
	height:6.8vh;
	padding:0 2%;
	background-color:#fff;
	.left{
		float:left;
		width:10%;
		text-decoration:none;
	    display:block;
	    i{
	   	   line-height:1.2rem;
	       display:block;
	       color:#4e4e4e;
	       font-size:.7rem;
	    }
	}
	h1{
		float:left;
		width:80%;
		font:.4rem/6.8vh "Microsoft YaHei";
		color:#4e4e4e;
		margin:0;
		text-align:center;
	}
}
.g-page-text{
  height:93.2vh;
  width:100%;
  .page-ul-list{
  	position: fixed;
    top: 6.8vh;
    z-index:1;
    width: 100%;
  	display: -webkit-box;
  	border-bottom:1px solid #f4f4f4;
  	height:6.8vh;
  	background-color:#fff;
  	.li{
       -webkit-box-flex: 1;
	    -webkit-flex: 1;
	    flex: 1;
	    text-align: center;
	    font:.36rem/6.8vh "Microsoft YaHei";
	    &:first-child{
	    	border-right:1px solid #f4f4f4;
	    }
	    .icon-sanjiao{
	    	display:inline-block;
	    }
  		.icon-sanjiao-copy{
  			display:none;
  		}
	    i{
	    	font-size:.32rem;
	    	color:#4d4d4d;
	    	margin-left:.2rem;
	    }
  	}
  	.active{
  		color:#008077;
  		i{
  			color:#008077;
  		}
  		.icon-sanjiao{
	    	display:none;
	    }
	    .icon-sanjiao-copy{
  			display:inline-block;
  		}
  	}
  }
}
.g-page-all{
	position:absolute;
	top: 13.6vh;
	width:100%;
	.g-page-list{
		display:none;
		height:93.2vh;
        overflow: auto;
	}
}
.g-areaList{
	position: fixed;
    top: 13.6vh;
    left: 0;
    bottom: 0;
    width: 35%;
    text-align: center;
    background-color:#f3f3f3;
    dd{
    	width: 100%;
        line-height: 48px;
        border-bottom:1px solid #f4f4f4;
        font:.4rem/6.8vh "Microsoft YaHei";
    }
    .z-active{
    	color: #008077;
        background: #fff;
    }
}
.g-areaItem{  
    .g-areaItem-list{
    	display:none;
    	position: absolute;
	    top: 0;
	    left: 35%;
	    right: 0;
	    height: 93.2vh;
	    width: 65%;
	    min-height: 100%;
	    background: #fff;
	    overflow-y: auto;
	    padding-bottom: 1.4rem; 
    	dd{
    	width: 100%;
        line-height: 48px;
        border-bottom:1px solid #f4f4f4;
        font:.4rem/6.8vh "Microsoft YaHei";
        padding-left:1rem;
	    }
	    .l-active{
	    	position:relative;
	    	color: #008077;
	        background: #fff;
	        i{
	        	position:absolute;
	        	top:0;
	        	left:.3rem;
	        }
	    }
    }
    .g-areaItem-list2{
	  -webkit-overflow-scrolling : touch; 
	}
}
.g-areaItem-btn{
    font:.36rem/1.2rem "Microsoft YaHei";
	background:none;
	border:none;
	outline:none;
	-webkit-appearance:none;
	appearance:none;
	background-color:#008077;
	color:#fff;
	width: 65%;
    position: fixed;
    right: 0;
    bottom: 0;
}
.m-items{
	padding:2%;
	border-bottom:1px solid #f4f4f4;
	h3{
		color:#4d4d4d;
		font:.36rem/1.2rem "Microsoft YaHei";
	}
}


.m-items-b{
	ul{
	    height: auto;
	    overflow: hidden;
		li{
			float: left;
		    border: 1px solid #ccc;
		    width: 23.5%;
		    margin: 0 2% 2.5% 0;
		    font: .36rem/1 "Microsoft YaHei";
		    padding: .2rem 0;
		    text-align: center;
		    color: #4d4d4d;
		    display: block;
		    &:nth-child(4n) {
			    margin-right: 0;
			}
		}
		.active{
			background-color:#008077;
			border: 1px solid #008077;
			color:#fff;
		}
	}
}
.m-items-t{
	ul{
		display: -webkit-box;
		li{
			position:relative;
	        -webkit-box-flex: 1;
		    -webkit-flex: 1;
		    flex: 1;
		    text-align: center;
		    font:.36rem/3 "Microsoft YaHei";
		    &:before{
		    	content:".";
		    	position:absolute;
		    	bottom:-20%;
		    	left:50%;
		    }
		}
		.line-active{
			color:#008077;
			&:before{
		    	color:#008077;
		    }
		}
	}
}
.line{
	padding:0 4%;
	position:relative;
	input[type="range"] {
	    -webkit-appearance: none;
	    appearance: none;
	    -webkit-box-flex: 1;
	    -webkit-flex: 1;
	    flex: 1;
	    overflow: hidden;
	    background-image: -webkit-linear-gradient(top, #ccc, #ccc);
	    background-image: linear-gradient(to bottom, #ccc, #ccc);
	    background-size: 100% .04rem;
	    background-repeat: no-repeat;
	    background-position: center;
	    width: 100%;
	    height: 2rem;
		&::-webkit-slider-thumb {
            -webkit-appearance: none;
            cursor: default;
            top: -.4rem;
            height:.8rem;
            width: .8rem;
            background: none repeat scroll 0 0 #008077;
            border-radius:100%;
        }
    }
    &:after {
	    pointer-events: none;
	    position: absolute;
	    z-index: 999;
	    top: 0;
	    left: 0;
	    overflow: hidden;
	    content: "\0020";
	    border-color: #ddd;
	    border-style: solid;
	    border-width: 1px 0 0;
	    -webkit-transform-origin: 0 0;
	    transform-origin: 0 0;
	}
}
.m-items-fixed{
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	ul{
		display: -webkit-box;
		li{
			position:relative;
	        -webkit-box-flex: 1;
		    -webkit-flex: 1;
		    flex: 1;
		    text-align: center;
		    font:.36rem/1.2rem "Microsoft YaHei";
		    background-color:#a5a5a5;
		    width:35%;
		    color:#fff;
		    &:last-child{
		    	background-color:#008077;
		        width:65%;
		    }
		}
	}
}


