<!doctype html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="description" content="不超过150个字符"/>
<meta name="keywords" content=""/>
<meta name="author" content="name, sycbbb@sina.com"/>
<meta name="robots" content="index,follow"/>
<meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="format-detection" content="telephone=no, email=no,adress=no"/>
<meta name="msapplication-tap-highlight" content="no">
<title>MERCIbnb木西民宿</title>
<link rel="stylesheet" href="../public/styles/detailed.css">
<link rel="stylesheet" href="../public/styles/iconfont.css">
<link rel="stylesheet" href="../public/styles/lib/swiper-3.3.1.min.css">
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ia21oG6eioiE5yKW2ERRB2P6lOcpAyGh"></script>
<body class="m-hotel">
<!-- begin container -->
<div class="container">
   <section class="detailed-top">
	   	<a href="#" class="left">
	    	<i class="iconfont icon-fanhui"></i>
	    </a>
	    <a href="#" class="right">
			<i class="iconfont icon-shoucang"></i>
		</a>
		<div class="swiper-container" id="swiper-container2">
		    <div class="swiper-wrapper">
				<div class="swiper-slide">
				<img src="../public/images/detailed/top.jpg" alt="">
				</div>
				<div class="swiper-slide">
				<img src="../public/images/detailed/top.jpg" alt="">
				</div>	
				<div class="swiper-slide">
				<img src="../public/images/detailed/top.jpg" alt="">
				</div>	
			</div>
		</div>
		<h3><span>￥</span>888</h3>
   </section>
   <section class="detailed-info">
     <div class="text">
     	<h2>We+共享空间</h2>
	   	<p>5.0分 | 24评论</p>
	   	<p><span>优惠</span>3天9.5折，7天9折，15天8.5折，30天8折</p>
     </div>
     <ul class="fitment-icon">
     	<li><img src="../public/images/detailed/icon01.png" alt="">8位房客</li>
     	<li><img src="../public/images/detailed/icon02.png" alt="">4个房间</li>
     	<li><img src="../public/images/detailed/icon03.png" alt="">4张床</li>
     	<li><img src="../public/images/detailed/icon04.png" alt="">2卫</li>
     </ul>
     <div class="text-info">
        <div class="map" id="allmap"></div>
        <div class="info-bottom">
        	<h2>房屋信息</h2>
	     	<p class="info-p">想安静，想放空，或者，只是想见一个人。旅程的开始于结束，其实都不复杂。重要的是享受过程。我的家可以给你专享的私人定制空间：冰箱、空调、洗衣机等等，家应该拥有的元素这里全部都有。·······</p>
	     	<a class="info-a" href="javascript:;">详情</a>
        </div>
     	
     </div>
   </section>
   <section class="comment">
   	    <h2>32条评论</h2>
     	<p class="u-stars z-5"></p>
     	<div class="text-list">
     		<div class="text" style="display:block;">
	     	 	<div class="left">
		     	 	<img src="../public/images/detailed/head-icon.jpg" alt="">
		     	 	<p>会飞的猪</p>
		     	 </div>
		     	<div class="right">
		     	    <p>想安静，想放空，或者，只是想见一个人。旅程的开始于结束，其实都不复杂。重要的是享受过程。我的家可以给你专享的私人定制空间·······</p>    	 	
		     	 	<time>2016-8-15</time>
		     	 </div>
	     	</div>
     	    <a class="comment-a" href="#">全部</a>
     	</div>
   </section>
   <section class="device">
   	 <h2>配套设施</h2>
   	 <div class="standard-top">
   	 	<h3>M+品质标准</h3>
	   	 <ul>
	   	 	<li><img src="../public/images/detailed/m-icon01.png" alt="">智能家居系统</li>
	   	 	<li><img src="../public/images/detailed/m-icon02.png" alt="">舒适睡眠</li>
	   	 	<li><img src="../public/images/detailed/m-icon03.png" alt="">舒压卫浴</li>
	   	 	<li><img src="../public/images/detailed/m-icon04.png" alt="">微健身</li>
	   	 	<li><img src="../public/images/detailed/m-icon05.png" alt="">智能监控</li>
	   	 </ul>
   	 </div>
   	 <div class="standard-botoom">
   	 	<ul class="standard-botoom-ul">
	   	 	<li><img src="../public/images/detailed/device-icon01.png" alt="">智能门锁</li>
			<li><img src="../public/images/detailed/device-icon02.png" alt="">WIFI</li>
			<li><img src="../public/images/detailed/device-icon03.png" alt="">洗漱品</li>
			<li><img src="../public/images/detailed/device-icon04.png" alt="">音乐香薰灯</li>
			<li><img src="../public/images/detailed/device-icon05.png" alt="">热水器</li>
			<li><img src="../public/images/detailed/device-icon06.png" alt="">空调</li>
			<li><img src="../public/images/detailed/device-icon07.png" alt="">超级电视</li>
			<li><img src="../public/images/detailed/device-icon08.png" alt="">冰箱</li>
	   	 </ul>
	   	 <a href="">全部</a>
   	 </div>
   	 <div class="pay">
   	 	 <h3>付费服务</h3>
	   	 <ul class="pay-ul">
	   	 	<li><img src="../public/images/detailed/pay-icon01.png" alt="">木西商城</li>
	   	 	<li><img src="../public/images/detailed/pay-icon02.png" alt="">专车接送</li>
	   	 	<li><img src="../public/images/detailed/pay-icon03.png" alt="">机票预订</li>
	   	 	<li><img src="../public/images/detailed/pay-icon04.png" alt="">景点门票</li>
	   	 	<li><img src="../public/images/detailed/pay-icon05.png" alt="">专业向导</li>
	   	 </ul>
   	 </div> 	
   	 <a class="flow-path" href="">自助流程<i class="iconfont icon-dayuhao"></i></a>
   	 <a class="know" href="">入住须知<i class="iconfont icon-dayuhao"></i></a> 
   </section>
   <section class="recommend">
		<h2>附近民居推荐</h2>
		<div class="swiper-recommend">
			<div class="swiper-container" id="swiper-container1">
		       <div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="img">
					    <i class="iconfont icon-shoucang"></i>
						<img src="../public/images/page_index/recommend01.jpg" alt="">
						<h3><span>￥</span>888</h3>
						<p><span>欧美</span>青葱岁月，与友人共享</p>
					</div>
					<div class="text">
						<div class="text-top"><h3>隆翠豪宅</h3><p>5.0分 | 24评论</p></div>
						<p class="text-com"><span>欧美风格</span><span>干净舒适</span><span>交通便利</span></p>
						<p class="text-bottom">广州市天河区黄埔大道西108号（近石牌桥地铁站）</p>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="img">
					    <i class="iconfont icon-shoucang"></i>
						<img src="../public/images/page_index/recommend01.jpg" alt="">
						<h3><span>￥</span>888</h3>
						<p><span>欧美</span>青葱岁月，与友人共享</p>
					</div>
					<div class="text">
						<div class="text-top"><h3>隆翠豪宅</h3><p>5.0分 | 24评论</p></div>
						<p class="text-com"><span>欧美风格</span><span>干净舒适</span><span>交通便利</span></p>
						<p class="text-bottom">广州市天河区黄埔大道西108号（近石牌桥地铁站）</p>
					</div>
				</div>	
				<div class="swiper-slide">
					<div class="img">
					    <i class="iconfont icon-shoucang"></i>
						<img src="../public/images/page_index/recommend01.jpg" alt="">
						<h3><span>￥</span>888</h3>
						<p><span>欧美</span>青葱岁月，与友人共享</p>
					</div>
					<div class="text">
						<div class="text-top"><h3>隆翠豪宅</h3><p>5.0分 | 24评论</p></div>
						<p class="text-com"><span>欧美风格</span><span>干净舒适</span><span>交通便利</span></p>
						<p class="text-bottom">广州市天河区黄埔大道西108号（近石牌桥地铁站）</p>
					</div>
				</div>	
			</div>
		</div>
		</div>	
	</section>

</div>
<a href="orders-submit.html" class="buttom">我要预订</a>
<!-- begin script -->
<script src="../public/scripts/require.js" data-main="../public/scripts/detailed"></script>
<script type="text/javascript">
	// 百度地图API功能
	var map = new BMap.Map("allmap");
	var point = new BMap.Point(113.345651,23.140021);
	//创建自己logo
	var pt = new BMap.Point(113.345651,23.140021);
	var myIcon = new BMap.Icon("../public/images/detailed/logo.png", new BMap.Size(60,60));
	var marker2 = new BMap.Marker(pt,{icon:myIcon});  // 创建标注
	map.addOverlay(marker2);              // 将标注添加到地图
	map.centerAndZoom(new BMap.Point(113.345382,23.14145), 16);        //设置中心点
    var opts = {
	  position : point,    // 指定文本标注所在的地理位置
	  offset   : new BMap.Size(-160, -60)    //设置文本偏移量
	}
	var label = new BMap.Label("广州市天河区天河北路278号岗顶大厦（地铁岗顶C出口）", opts);  // 创建文本标注对象
		label.setStyle({
			 color : "#333",
			 fontSize : "12px",
			 height : "30px",
			 lineHeight : "30px",
			 fontFamily:"微软雅黑",
			 border:"none"
		 });
	map.addOverlay(label);  

</script>
</body>
</html>