<!doctype html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="description" content="不超过150个字符"/>
<meta name="keywords" content=""/>
<meta name="author" content="name, sycbbb@sina.com"/>
<meta name="robots" content="index,follow"/>
<meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="format-detection" content="telephone=no, email=no,adress=no"/>
<meta name="msapplication-tap-highlight" content="no">
<title>MERCIbnb木西民宿</title>
<link rel="stylesheet" href="../public/styles/hotel-list.css">
<link rel="stylesheet" href="../public/styles/iconfont.css">
<link rel="stylesheet" href="../public/styles/lib/dropload.css">
</head>
<body class="m-hotel">
<!-- begin header -->
<header class="public-header">
    <a href="#" class="left">
    	<i class="iconfont icon-fanhui"></i>
    </a>
	<h1>家庭出游</h1>
	<a href="#" class="right">
		<i class="iconfont icon-sousuo"></i>
	</a>
</header>
<!-- begin container -->
<div class="container">
  <div class="lists">
  	<a href="detailed.html" class="hotel-list">
		<div class="img">
			<i class="iconfont icon-shoucang"></i>
			<img src="../public/images/hotel_list/hotel-list01.jpg" alt="">
			<h3><span>￥</span>888</h3>
			<p><span>摩登</span>青葱岁月，与友人共享</p>
		</div>
		<div class="text">
			<div class="text-top"><h3>隆翠豪宅</h3><p>5.0分 | 24评论</p></div>
			<p class="text-com"><span>欧美风格</span><span>干净舒适</span><span>交通便利</span></p>
			<p class="text-bottom">广州市天河区黄埔大道西108号（近石牌桥地铁站）</p>
		</div>
	</a>
	<a href="detailed.html" class="hotel-list hotel-list-order">
		<div class="img">
			<i class="iconfont icon-shoucang"></i>
			<img src="../public/images/hotel_list/hotel-list02.jpg" alt="">
			<div class="order"><img src="../public/images/hotel_list/order.png" alt=""></div>	
			<h3><span>￥</span>888</h3>
			<p><span>摩登</span>青葱岁月，与友人共享</p>
		</div>
		<div class="text">
			<div class="text-top"><h3>隆翠豪宅</h3><p>5.0分 | 24评论</p></div>
			<p class="text-com"><span>欧美风格</span><span>干净舒适</span><span>交通便利</span></p>
			<p class="text-bottom">广州市天河区黄埔大道西108号（近石牌桥地铁站）</p>
		</div>
	</a>
	<a href="detailed.html" class="hotel-list">
		<div class="img">
			<i class="iconfont icon-shoucang"></i>
			<img src="../public/images/hotel_list/hotel-list03.jpg" alt="">
			<h3><span>￥</span>888</h3>
			<p><span>摩登</span>青葱岁月，与友人共享</p>
		</div>
		<div class="text">
			<div class="text-top"><h3>隆翠豪宅</h3><p>5.0分 | 24评论</p></div>
			<p class="text-com"><span>欧美风格</span><span>干净舒适</span><span>交通便利</span></p>
			<p class="text-bottom">广州市天河区黄埔大道西108号（近石牌桥地铁站）</p>
		</div>
	</a>
  </div>	
</div>
<div class="g-page">	
	<header class="search-header">
		  <a href="javascript:;" class="left">
	    	<i class="iconfont icon-fanhui"></i>
	    </a>
	    <h1>搜索木西房源</h1>
	</header>
	<div class="g-page-text">
		<ul class="page-ul-list">
			<li class="li active">位置<i class="iconfont icon-sanjiao-copy"></i><i class="iconfont icon-sanjiao"></i></li>
			<li class="li">综合筛选<i class="iconfont icon-sanjiao-copy"></i><i class="iconfont icon-sanjiao"></i></li>
		</ul>
		<div class="g-page-all">
			<div class="g-page-list" style="display:block;">
                <dl class="g-areaList">
			        <dd>区域</dd>
			        <dd class="z-active">商圈</dd>
			        <dd>地铁</dd>
			        <dd>景点</dd>
			    </dl>
			    <div class="g-areaItem">
			    	<div class="g-areaItem-list">0</div>
			    	<div class="g-areaItem-list" style="display:block;">
                       <dl>
                       	<dd>不限</dd>
                       	<dd>天河体育商圈</dd>
                       	<dd>白云山风景区</dd>
                       	<dd>珠江新城商圈</dd>
                       	<dd>火车站商圈</dd>
                       	<dd>番禺长隆区域</dd>
                       	<dd>上下九步行街</dd>
                       	<dd>北京路</dd>
                       	<dd>北京路</dd>
                       	<dd>琶洲会展中心</dd>
                       </dl>
                       <input type="button" value="确定">
			    	</div>
			    	<div class="g-areaItem-list">2</div>
			    	<div class="g-areaItem-list">4</div>
			    </div>
			</div>
			<div class="g-page-list">
				<div class="m-items m-items-t">
					<h3>价格</h3>
					<ul>
						<li>￥0</li>
						<li>￥500</li>
						<li>￥1000</li>
						<li>￥1500</li>
						<li>￥2000</li>
						<li>不限</li>
					</ul>
				</div>
				<div class="m-items m-items-b">
					<h3>排序</h3>
					<ul class="m-ul-c">
						<li>距离优先</li>
						<li>低价优先</li>
						<li>高价优先</li>
						<li>好评优先</li>
					</ul>
				</div>
				<div class="m-items m-items-b">
					<h3>户型</h3>
					<ul class="m-ul-b">
						<li>一室</li>
						<li>二室</li>
						<li>三室</li>
						<li>四室及以上</li>
					</ul>
				</div>
				<div class="m-items-fixed">
					<ul>
						<li>清空</li>
						<li>确定</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- begin script -->
<script src="../public/scripts/require.js" data-main="../public/scripts/hotel-list"></script>
</body>
</html>