<!doctype html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="description" content="不超过150个字符"/>
<meta name="keywords" content=""/>
<meta name="author" content="name, sycbbb@sina.com"/>
<meta name="robots" content="index,follow"/>
<meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="format-detection" content="telephone=no, email=no,adress=no"/>
<meta name="msapplication-tap-highlight" content="no">
<title></title>
<link rel="stylesheet" href="../public/styles/index.css">
<link rel="stylesheet" href="../public/styles/iconfont.css">
<link rel="stylesheet" href="../public/styles/lib/swiper-3.3.1.min.css">
</head>
<body class="m-hotel">
<!-- begin swiper -->
<div class="swiper-container" id="swiper-container0">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="../public/images/page_index/slide1.jpg" alt=""></div>
        <div class="swiper-slide"><img src="../public/images/page_index/slide1.jpg" alt=""></div>
        <div class="swiper-slide"><img src="../public/images/page_index/slide1.jpg" alt=""></div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="login">
    	<a href="#" class="search">
            <i class="iconfont icon-sousuo"></i>
    	    <input type="text" value="寻找你的木西">
	    </a>
	    <a href="#" class="user"><i class="iconfont icon-gerenzhongxin"></i></a>
	</div>
</div>
<!-- begin container -->
<div class="container">
	<section class="city">
	  <div class="left">
		  <a href="#">
		  		<div class="city-list">
				<h2>花城 · 广州</h2>
	            <img src="../public/images/page_index/city01.jpg" alt="">
				<p>珠江畔的小蛮腰，邂逅岭南风情</p>
			</div>
		  </a>
		  <a href="#">
		  	<div class="city-list">
				<h2>魔都 · 上海</h2>
	            <img src="../public/images/page_index/city02.jpg" alt="">
				<p>老唱片中的东方明珠，照亮不夜城</p>
			</div>
		  </a>	
	  </div>
	  <div class="right">
		  <a href="#">
		  	<div class="city-list">
				<h2>鹏城 · 深圳</h2>
	            <img src="../public/images/page_index/city03.jpg" alt="">
				<p>年轻活力大都市，坐拥繁华</p>
			</div>
		  </a>
		  <a href="#">
		  	<div class="city-list">
				<h2>帝都 · 北京</h2>
	            <img src="../public/images/page_index/city04.jpg" alt="">
				<p>道不尽宫阙深深，荟萃古今之美</p>
			</div>
		  </a>		
	  </div>
	  <a class="iconfont icon-gengduo" href="#">更多城市</a>		
	</section>
	<section class="go-out">
		<h2>共享结伴出行乐趣</h2>
		<a class="go-out-list" href="#">
		    <div class="text">
		    	<h3>家庭出游</h3>
			    <p>22个房源</p>
		    </div>
			<img src="../public/images/page_index/go-out01.jpg" alt="">
		</a>
		<a class="go-out-list" href="#">
		    <div class="text">
		    	<h3>工作出差</h3>
			    <p>34个房源</p>
		    </div>
			<img src="../public/images/page_index/go-out02.jpg" alt="">
		</a>
		<a class="go-out-list" href="#">
		    <div class="text">
		    	<h3>聚会轰趴</h3>
			    <p>12个房源</p>
		    </div>
			<img src="../public/images/page_index/go-out03.jpg" alt="">
		</a>
	</section>
	<section class="recommend">
		<h2>新房推荐</h2>
		<div class="swiper-recommend">
			<div class="swiper-container" id="swiper-container1">
		       <div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="img">
					    <i class="iconfont icon-shoucang"></i>
						<img src="../public/images/page_index/recommend01.jpg" alt="">
						<h3><span>￥</span>888</h3>
						<p><span>欧美</span>青葱岁月，与友人共享</p>
					</div>
					<div class="text">
						<div class="text-top"><h3>隆翠豪宅</h3><p>5.0分 | 24评论</p></div>
						<p class="text-com"><span>欧美风格</span><span>干净舒适</span><span>交通便利</span></p>
						<p class="text-bottom">广州市天河区黄埔大道西108号（近石牌桥地铁站）</p>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="img">
					    <i class="iconfont icon-shoucang"></i>
						<img src="../public/images/page_index/recommend01.jpg" alt="">
						<h3><span>￥</span>888</h3>
						<p><span>欧美</span>青葱岁月，与友人共享</p>
					</div>
					<div class="text">
						<div class="text-top"><h3>隆翠豪宅</h3><p>5.0分 | 24评论</p></div>
						<p class="text-com"><span>欧美风格</span><span>干净舒适</span><span>交通便利</span></p>
						<p class="text-bottom">广州市天河区黄埔大道西108号（近石牌桥地铁站）</p>
					</div>
				</div>	
				<div class="swiper-slide">
					<div class="img">
					    <i class="iconfont icon-shoucang"></i>
						<img src="../public/images/page_index/recommend01.jpg" alt="">
						<h3><span>￥</span>888</h3>
						<p><span>欧美</span>青葱岁月，与友人共享</p>
					</div>
					<div class="text">
						<div class="text-top"><h3>隆翠豪宅</h3><p>5.0分 | 24评论</p></div>
						<p class="text-com"><span>欧美风格</span><span>干净舒适</span><span>交通便利</span></p>
						<p class="text-bottom">广州市天河区黄埔大道西108号（近石牌桥地铁站）</p>
					</div>
				</div>	
			</div>
		</div>
		</div>	
	</section>
	<section class="join">
		<a class="left" href=""><img src="../public/images/page_index/join01.jpg" alt=""></a>
		<a class="right" href=""><img src="../public/images/page_index/join02.jpg" alt=""></a>
	</section>
</div>
<!-- begin footer -->
<footer class=public-footer>
	<img src="../public/images/logo.png" alt="">
	<p>Copyright © 2016 mercibnb.cn MERCIbnb</p>
	<p>粤ICP备16042444号-1</p>
</footer>
<!-- begin script -->
<script src="../public/scripts/require.js" data-main="../public/scripts/index"></script>
</body>
</html>