<!doctype html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="description" content="不超过150个字符"/>
<meta name="keywords" content=""/>
<meta name="author" content="name, sycbbb@sina.com"/>
<meta name="robots" content="index,follow"/>
<meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="format-detection" content="telephone=no, email=no,adress=no"/>
<meta name="msapplication-tap-highlight" content="no">
<title>MERCIbnb木西民宿</title>
<link rel="stylesheet" href="../public/styles/iconfont.css">
<link rel="stylesheet" href="../public/styles/lib/swiper-3.3.1.min.css">
<link rel="stylesheet" href="../public/styles/orders.css">
</head>
<body class="m-hotel-live">
<!-- begin header -->
<header class="public-header">
    <a href="#" class="left">
    	<i class="iconfont icon-fanhui"></i>
    </a>
	<h1 class="color-h1">我的订单</h1>
	<a href="#" class="right1">
		<i class="iconfont icon-shouye"></i>
	</a>
</header>
<!-- begin container -->
<div class="container">
	<div class="swiper-container" id="swiper-container3">
	    <div class="my-pagination"></div>
	    <div class="swiper-wrapper">
	        <div class="swiper-slide">
                <div class="order-list">
                 	<h2>琶洲广交会We+共享空间<a href="#">待支付</a></h2>
                 	<div class="text-order">
                 		<img src="../public/images/orders/orders01.jpg" alt="">
					  	<div class="text-r">
					  		<p>9月1日-9月3日 共2晚</p>
					  		<p>预订人：叶伟</p>
					        <p>金额：￥1982</p>
					        <a href="#">马上支付</a>	        
				  	  	</div>
				  	  	<i class="iconfont icon-dayuhao"></i>
                 	</div>
                </div>
                <div class="order-list">
                 	<h2>琶洲广交会We+共享空间<a href="#">已预定</a></h2>
                 	<div class="text-order">
                 		<img src="../public/images/orders/orders01.jpg" alt="">
					  	<div class="text-r">
					  		<p>9月1日-9月3日 共2晚</p>
					  		<p>预订人：叶伟</p>
					        <p>金额：￥1982</p>
					        <a href="#">马上入住</a>	        
				  	  	</div>
				  	  	<i class="iconfont icon-dayuhao"></i>
                 	</div>
                </div>
                <div class="order-list">
                 	<h2>琶洲广交会We+共享空间<a href="#">已入住</a></h2>
                 	<div class="text-order">
                 		<img src="../public/images/orders/orders01.jpg" alt="">
					  	<div class="text-r">
					  		<p>9月1日-9月3日 共2晚</p>
					  		<p>预订人：叶伟</p>
					        <p>金额：￥1982</p>
					        <a href="#">取消</a>	        
				  	  	</div>
				  	  	<i class="iconfont icon-dayuhao"></i>
                 	</div>
                </div>
                <div class="order-list">
                 	<h2>琶洲广交会We+共享空间<a href="#">逾期未住</a></h2>
                 	<div class="text-order">
                 		<img src="../public/images/orders/orders01.jpg" alt="">
					  	<div class="text-r">
					  		<p>9月1日-9月3日 共2晚</p>
					  		<p>预订人：叶伟</p>
					        <p>金额：￥1982</p>
					        <a href="#">取消</a>	        
				  	  	</div>
				  	  	<i class="iconfont icon-dayuhao"></i>
                 	</div>
                </div>  
                <div class="order-list">
                 	<h2>琶洲广交会We+共享空间<a href="#">已取消</a></h2>
                 	<div class="text-order">
                 		<img src="../public/images/orders/orders01.jpg" alt="">
					  	<div class="text-r">
					  		<p>9月1日-9月3日 共2晚</p>
					  		<p>预订人：叶伟</p>
					        <p>金额：￥1982</p>	        
				  	  	</div>
				  	  	<i class="iconfont icon-dayuhao"></i>
                 	</div>
                </div>

                <!-- begin 未订单 -->
                <div class="no-order" style="display:none;">
                	<i class="iconfont icon-iconkulian"></i>
                	<h3>对不起！</h3>
                    <p>没有您的订单哟</p>
                </div> 
	        </div>
	        <div class="swiper-slide">
                <div class="order-list">
                 	<h2>琶洲广交会We+共享空间<a href="#">已退房</a></h2>
                 	<div class="text-order">
                 		<img src="../public/images/orders/orders01.jpg" alt="">
					  	<div class="text-r">
					  		<p>9月1日-9月3日 共2晚</p>
					  		<p>预订人：叶伟</p>
					        <p>金额：￥1982</p>
					        <p><a href="#">补打发票</a><a href="">评论</a></p>        
				  	  	</div>
				  	  	<i class="iconfont icon-dayuhao"></i>
                 	</div>
                </div>
                 <div class="order-list">
                 	<h2>琶洲广交会We+共享空间<a href="#">逾期未住</a></h2>
                 	<div class="text-order">
                 		<img src="../public/images/orders/orders01.jpg" alt="">
					  	<div class="text-r">
					  		<p>9月1日-9月3日 共2晚</p>
					  		<p>预订人：叶伟</p>
					        <p>金额：￥1982</p>
					        <p><a href="#">补打发票</a><a href="">评论</a></p>        
				  	  	</div>
				  	  	<i class="iconfont icon-dayuhao"></i>
                 	</div>
                </div>
	        </div>
	    </div>
	</div>
</div>
<!-- begin script -->
<script src="../public/scripts/require.js" data-main="../public/scripts/orders"></script>
</body>
</html>