<!doctype html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="description" content="不超过150个字符"/>
<meta name="keywords" content=""/>
<meta name="author" content="name, sycbbb@sina.com"/>
<meta name="robots" content="index,follow"/>
<meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="format-detection" content="telephone=no, email=no,adress=no"/>
<meta name="msapplication-tap-highlight" content="no">
<title>MERCIbnb木西民宿</title>
<link rel="stylesheet" href="../public/styles/iconfont.css">
<link rel="stylesheet" href="../public/styles/user.css">
</head>
<body class="m-hotel">
<!-- begin container -->
<div class="container">
   <header class="owner-user-header">
       <div class="top">
	       <a href="javascript:history.go(-1);" class="left"><i class="iconfont icon-fanhui"></i></a>
	   	 <h1 class="color-h1">房东中心</h1>
          <a href="index.html" class="right"><i class="iconfont icon-shouye"></i></a>
       </div>
   	   <div class="logo">
   	       <div class="img">
   	       	   <img src="../public/images/user/logo.png" alt="">
   	       </div>   
   	   	   <p>YESON</p>
   	   </div>
   </header>
   <div class="owner-user-list">
   	   <a href=""><i class="l iconfont icon-gerenzhongxin"></i>房东信息<i class="r iconfont icon-dayuhao"></i></a>
   	   <a href=""><i class="l iconfont icon-yudingbaobiao"></i>预定报表<i class="r iconfont icon-dayuhao"></i></a>
   	   <a href=""><i class="l iconfont icon-wodeliyi"></i>我的利益<i class="r iconfont icon-dayuhao"></i></a>
   	   <a href=""><i class="l iconfont icon-wodefangyuan"></i>我的房源<i class="r iconfont icon-dayuhao"></i></a>
   	   <a href=""><i class="l iconfont icon-xitongxiaoxi"></i>系统消息<i class="r iconfont icon-dayuhao"></i></a>
   </div>
</div>
<a class="switching-mode" href="">切换为业主模式</a>
<div class="book-immediately log-off">
	<a href="">退出登录</a>
</div> 
<!-- begin script -->
<script src="../public/scripts/require.js" data-main="../public/scripts/user"></script>
</body>
</html>