<!doctype html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="description" content="不超过150个字符"/>
<meta name="keywords" content=""/>
<meta name="author" content="name, sycbbb@sina.com"/>
<meta name="robots" content="index,follow"/>
<meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="format-detection" content="telephone=no, email=no,adress=no"/>
<meta name="msapplication-tap-highlight" content="no">
<title></title>
<link rel="stylesheet" href="../public/styles/iconfont.css">
<link rel="stylesheet" href="../public/styles/user.css">
</head>
<body class="m-hotel">
<!-- begin container -->
<div class="container">
   <header class="user-header profit-header">
       <div class="top">
	       <a href="#" class="left"><i class="iconfont icon-fanhui"></i></a>
	   	   <h1 class="color-h1">我的收益</h1>
       </div>
   	   <div class="profit-money">
           <h2>¥26886.85</h2>  
   	   	   <p>本月收益</p>
   	   </div>
   	   <div class="profit-money-list">
	   	   	<ul>
	   	   	 	<li>
	   	   	 		<p>本月营业额</p>
	                <p>￥125586.55</p>
	   	   	 	</li>
	   	   	 	<li>
	   	   	 		<p>运营成本</p>
	                <p>￥1534.5</p>
	   	   	 	</li>
	   	   	 	<li>
	   	   	 		<p>房晚</p>
	                <p>25</p>
	   	   	 	</li>
	   	   	</ul>
   	   </div>
   </header>
   <div class="profit-list">
   	   <dl>
   	   	<dt><input type="checkbox">汉溪长隆珑翠完美假期轻奢三居房</dt>
   	   	<dd><input type="checkbox">广交会首选·最美广州·纵览小蛮腰豪华五房</dd>
   	   	<dd><input type="checkbox">汉溪长隆珑翠完美假期轻奢三居房</dd>
   	   	<dd><input type="checkbox">广交会首选·最美广州·纵览小蛮腰豪华五房</dd>
   	   	<dd><input type="checkbox">汉溪长隆珑翠完美假期轻奢三居房</dd>
   	   	<dd><input type="checkbox">全选</dd>
   	   </dl>
   </div>
   <div class="profit-surface">
	   	<ul>
	   	    <div class="l"></div>
	   		<li>2016.06</li>
	   		<li>2016.07</li>
	   		<li>2016.08</li>
	   		<li>2016.09</li>
	   		<li>2016.10</li>
	   		<div class="r"></div>
	   	</ul>
	   	<div class="profit-surface-list">0</div>
	   	<div class="profit-surface-list">1</div>
	   	<div class="profit-surface-list">2</div>
	   	<div class="profit-surface-list">3</div>
	   	<div class="profit-surface-list">4</div>
   </div>
</div>
<!-- begin script -->
<script src="../public/scripts/require.js" data-main="../public/scripts/user"></script>
</body>
</html>