<!doctype html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="description" content="不超过150个字符"/>
<meta name="keywords" content=""/>
<meta name="author" content="name, sycbbb@sina.com"/>
<meta name="robots" content="index,follow"/>
<meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="format-detection" content="telephone=no, email=no,adress=no"/>
<meta name="msapplication-tap-highlight" content="no">
<title>MERCIbnb木西民宿</title>
<link rel="stylesheet" href="../public/styles/user.css">
<link rel="stylesheet" href="../public/styles/iconfont.css">
</head>
<body class="m-regiter">
<header class="regiter-header">
	  <a href="javascript:history.go(-1);" class="left">
    	<i class="iconfont icon-fanhui"></i>
    </a>
    <h1>我的评论</h1>
</header>
<div class="container">
  <div class="comment-list">
      <div class="comment-title">
        <h2>琶洲广交会We+共享空间</h2>
        <i class="iconfont icon-dayuhao"></i>
      </div>
      <div class="comment-text">
        <img class="l" src="../public/images/detailed/head-icon.jpg" alt="">
        <div class="r">
           <h3>会飞的猪<span>入住时间：08月11-08月15日 共4晚</span></h3>
           <p>房间很有调调，床垫很舒服了。近地铁，房间很有调调，床垫很舒服了。很干净。房间很大，有厨房很干净，色彩分明，超级喜欢大阳台。值得推荐！</p>
           <div class="img-list">
            <ul>
              <li><img src="../public/images/user/comment01.png" alt=""></li>
              <li><img src="../public/images/user/comment02.png" alt=""></li>
              <li><img src="../public/images/user/comment03.png" alt=""></li>
            </ul>
           </div>
           <p class="time">2016-9-12 12:24  <a class="close" href="javascript:;">删除</a></p>
        </div>
      </div>
  </div> 
  <div class="comment-list">
      <div class="comment-title">
        <h2>珠江帝景</h2>
        <i class="iconfont icon-dayuhao"></i>
      </div>
      <div class="comment-text">
        <img class="l" src="../public/images/detailed/head-icon.jpg" alt="">
        <div class="r">
           <h3>会飞的猪<span>入住时间：08月11-08月15日 共4晚</span></h3>
           <p>房间很有调调，床垫很舒服了。近地铁，房间很有调调，床垫很舒服了。很干净。房间很大，有厨房很干净，色彩分明，超级喜欢大阳台。值得推荐！</p>
           <div class="img-list">
            <ul>
              <li><img src="../public/images/user/comment01.png" alt=""></li>
              <li><img src="../public/images/user/comment02.png" alt=""></li>
              <li><img src="../public/images/user/comment03.png" alt=""></li>
            </ul>
           </div>
           <p class="time">2016-9-12 12:24  <a class="close" href="javascript:;">删除</a></p>
        </div>
      </div>
  </div> 
</div>
<!-- begin script -->
<script src="../public/scripts/require.js" data-main="../public/scripts/user"></script>
</body>
</html>