@charset "UTF-8";
/* =================================================================
* Reset Style for Mobile
* Author:雪丘行||Bandow
* Author URI:http://www.unll123.com/
* Date:2016-09-09
* Version:0.0.1
* ================================================================== */
html {
  font-family: "Microsoft YaHei","Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  /*-webkit-text-size-adjust是解决 iPhone 横屏时默认会放大文字的问题*/
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html, body {
  /*-webkit-user-select:none禁止用户进行复制.选择.*/
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  /*使用min-height:100%代替height：100%*/
  min-height: 100%; }

body {
  /*全局滚动 建议：将属性挂在body上，可以避免很多奇怪的bug。*/
  -webkit-overflow-scrolling: touch; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, div, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  /*把所有元素的内边距和边框不再会增加它的宽度*/
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  box-sizing: border-box; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

.m-hotel {
  padding: 0;
  min-width: 300px;
  max-width: 640px;
  margin: 0 auto; }

.container {
  width: 100%;
  padding-bottom: 1.28rem; }

.swiper-slide img {
  width: 100%; }

.detailed-top {
  position: relative; }
  .detailed-top img {
    width: 100%; }
  .detailed-top .left {
    position: absolute;
    top: .5rem;
    left: .5rem;
    z-index: 2;
    width: 1rem;
    height: 1rem;
    text-decoration: none; }
    .detailed-top .left i {
      color: #fff;
      font-size: 1rem;
      line-height: 1rem;
      display: block; }
  .detailed-top .right {
    position: absolute;
    top: .5rem;
    right: .5rem;
    z-index: 2;
    width: 1rem;
    height: 1rem;
    text-decoration: none;
    background: #fff;
    border-radius: 100%; }
    .detailed-top .right i {
      color: #333;
      line-height: 1rem;
      text-align: center;
      display: block; }
  .detailed-top h3 {
    position: absolute;
    top: 60%;
    left: 0;
    z-index: 2;
    background: rgba(0, 128, 119, 0.8);
    padding: .2rem .3rem;
    font-size: .4rem;
    color: #fff;
    border-radius: 0 30px 30px 0;
    font-family: "Microsoft YaHei"; }
    .detailed-top h3 span {
      font-size: .4rem; }

.detailed-info {
  padding: .2rem 5%; }
  .detailed-info .text {
    border-bottom: 1px solid #eee;
    padding-bottom: .5rem; }
    .detailed-info .text h2 {
      font-size: .4rem;
      color: #008077;
      line-height: 1.5;
      font-family: "Microsoft YaHei"; }
    .detailed-info .text p {
      font-size: .36rem;
      color: #999;
      line-height: 1.8;
      font-family: "Microsoft YaHei"; }
      .detailed-info .text p span {
        background: #ff9f00;
        padding: .05rem .2rem;
        font-size: .32rem;
        border-radius: 3px;
        color: #fff;
        margin-right: .2rem; }
  .detailed-info .fitment-icon {
    border-bottom: 1px solid #eee;
    padding: .5rem 0;
    height: auto;
    overflow: hidden; }
    .detailed-info .fitment-icon li {
      width: 25%;
      float: left;
      display: inline-block;
      font-size: .36rem;
      text-align: center;
      color: #666;
      font-family: "Microsoft YaHei"; }
      .detailed-info .fitment-icon li img {
        width: 50%;
        display: block;
        margin: 0 auto;
        padding-bottom: .1rem; }
  .detailed-info .text-info {
    border-bottom: 1px solid #eee;
    padding: .5rem 0;
    height: auto;
    overflow: hidden; }
    .detailed-info .text-info .map {
      width: 100%;
      height: 4rem; }
      .detailed-info .text-info .map img {
        width: 100%;
        height: 100%; }
    .detailed-info .text-info .info-bottom h2 {
      font-size: .4rem;
      color: #008077;
      line-height: 1.5;
      font-family: "Microsoft YaHei";
      margin: .2rem 0 .5rem; }
    .detailed-info .text-info .info-bottom p {
      font-size: .36rem;
      color: #999;
      line-height: 1.8;
      font-family: "Microsoft YaHei";
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical; }
    .detailed-info .text-info .info-bottom a {
      width: 30%;
      height: 1rem;
      text-align: center;
      line-height: 1rem;
      border-radius: 5px;
      font-size: .36rem;
      font-family: "Microsoft YaHei";
      display: block;
      border: 1px solid #ccc;
      margin: 0 auto;
      text-decoration: none;
      color: #666;
      margin-top: .5rem; }
    .detailed-info .text-info .info-bottom-active p {
      -webkit-line-clamp: 10; }

.comment {
  padding: .2rem 5%;
  border-bottom: 1px solid #eee;
  height: auto;
  overflow: hidden; }
  .comment h2 {
    font-size: .4rem;
    color: #008077;
    line-height: 1.5;
    font-family: "Microsoft YaHei";
    margin-bottom: .1rem; }
  .comment .u-stars {
    width: 68px;
    height: 9pt;
    background: url(/public/images/detailed/stars.png) no-repeat;
    background-size: 100%;
    margin-bottom: .5rem; }
  .comment .z-5 {
    background-position: 0 0; }
  .comment .text-list .text {
    height: auto;
    overflow: hidden;
    margin-bottom: .5rem;
    display: none; }
    .comment .text-list .text .left {
      float: left;
      width: 70px;
      height: auto;
      overflow: hidden; }
      .comment .text-list .text .left img {
        margin: 0 auto;
        width: 60px;
        height: 60px;
        border-radius: 100%; }
      .comment .text-list .text .left p {
        text-align: center;
        font-size: .32rem;
        line-height: 1.5;
        font-family: "Microsoft YaHei"; }
    .comment .text-list .text .right {
      margin-left: 70px; }
      .comment .text-list .text .right p {
        font-size: .36rem;
        font-family: "Microsoft YaHei";
        color: #333;
        line-height: 1.8; }
      .comment .text-list .text .right time {
        text-align: right;
        font-size: .32rem;
        font-family: "Microsoft YaHei";
        color: #333;
        width: 100%;
        line-height: 1;
        display: block; }
  .comment .text-list a {
    width: 30%;
    height: 1rem;
    text-align: center;
    line-height: 1rem;
    border-radius: 5px;
    font-size: .36rem;
    font-family: "Microsoft YaHei";
    display: block;
    border: 1px solid #ccc;
    margin: 0 auto;
    text-decoration: none;
    color: #666;
    margin-top: .5rem; }
  .comment .text-list-active .text {
    display: block; }

.device {
  padding: .2rem 5%;
  height: auto;
  overflow: hidden; }
  .device h2 {
    font-size: .4rem;
    color: #008077;
    line-height: 1.5;
    font-family: "Microsoft YaHei"; }
  .device .standard-top {
    padding: .2rem 0 .5rem;
    border-bottom: 1px solid #eee;
    height: auto;
    overflow: hidden; }
    .device .standard-top h3 {
      font-size: .4rem;
      color: #008077;
      line-height: 1.5;
      font-family: "Microsoft YaHei";
      margin-bottom: .5rem;
      text-align: center; }
    .device .standard-top li {
      width: 20%;
      float: left;
      display: inline-block;
      font-size: .36rem;
      text-align: center;
      color: #666;
      font-family: "Microsoft YaHei"; }
      .device .standard-top li img {
        width: 50%;
        display: block;
        margin: 0 auto;
        padding-bottom: .2rem; }
  .device .standard-botoom {
    padding: .2rem 0 .5rem;
    border-bottom: 1px solid #eee;
    height: auto;
    overflow: hidden; }
    .device .standard-botoom .standard-botoom-ul {
      height: auto;
      overflow: hidden; }
      .device .standard-botoom .standard-botoom-ul li {
        width: 25%;
        float: left;
        display: inline-block;
        font-size: .36rem;
        text-align: center;
        color: #666;
        font-family: "Microsoft YaHei";
        margin-bottom: .5rem; }
        .device .standard-botoom .standard-botoom-ul li img {
          width: 50%;
          display: block;
          margin: 0 auto;
          padding-bottom: .2rem; }
    .device .standard-botoom a {
      width: 30%;
      height: 1rem;
      text-align: center;
      line-height: 1rem;
      border-radius: 5px;
      font-size: .36rem;
      font-family: "Microsoft YaHei";
      display: block;
      border: 1px solid #ccc;
      margin: 0 auto;
      text-decoration: none;
      color: #666;
      margin-top: .5rem; }
  .device .pay {
    padding: .2rem 0 .5rem;
    border-bottom: 1px solid #eee;
    height: auto;
    overflow: hidden; }
    .device .pay h3 {
      font-size: .4rem;
      color: #008077;
      line-height: 1.5;
      font-family: "Microsoft YaHei";
      margin-bottom: .5rem;
      text-align: center; }
    .device .pay li {
      width: 20%;
      float: left;
      display: inline-block;
      font-size: .36rem;
      text-align: center;
      color: #666;
      font-family: "Microsoft YaHei"; }
      .device .pay li img {
        width: 50%;
        display: block;
        margin: 0 auto;
        padding-bottom: .2rem; }
  .device .flow-path, .device .know {
    padding: .5rem 0;
    border-bottom: 1px solid #eee;
    height: auto;
    overflow: hidden;
    display: block;
    width: 100%;
    color: #008077;
    font-size: .4rem;
    text-decoration: none; }
    .device .flow-path i, .device .know i {
      float: right;
      color: #999; }

.nearby {
  width: 100%;
  overflow: hidden; }
  .nearby h2 {
    font-size: .4rem;
    font-weight: bold;
    color: #008077;
    line-height: 2;
    width: 90%;
    margin: 0 auto;
    font-family: "Microsoft YaHei"; }
  .nearby .swiper-recommend {
    margin: 2% -5%; }
  .nearby #swiper-container1 {
    overflow: inherit;
    width: 80%; }
  .nearby .img {
    width: 100%;
    position: relative; }
    .nearby .img i {
      position: absolute;
      top: .5rem;
      right: .5rem;
      background: #fff;
      width: 1rem;
      height: 1rem;
      border-radius: 100%;
      text-align: center;
      line-height: 1rem;
      box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px; }
    .nearby .img h3 {
      position: absolute;
      top: 60%;
      left: 0;
      background: rgba(0, 128, 119, 0.8);
      padding: .2rem .3rem;
      font-size: .6rem;
      color: #fff;
      border-radius: 0 30px 30px 0;
      font-family: "Microsoft YaHei"; }
      .nearby .img h3 span {
        font-size: .4rem; }
    .nearby .img p {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      line-height: 2;
      background: rgba(0, 0, 0, 0.6);
      font-size: .36rem;
      font-family: "Microsoft YaHei";
      color: #fff;
      padding: 0 2%; }
      .nearby .img p span {
        background: #fff;
        border-radius: 3px;
        color: #333;
        font-size: .34rem;
        padding: 0 .1rem;
        margin-right: .2rem; }
  .nearby .text {
    padding: 0 1%;
    margin: 3% 0; }
    .nearby .text .text-top {
      width: 100%;
      height: .5rem;
      overflow: hidden; }
      .nearby .text .text-top h3 {
        float: left;
        font-size: .4rem;
        color: #333;
        line-height: .5rem;
        font-family: "Microsoft YaHei"; }
      .nearby .text .text-top p {
        float: right;
        font-size: .36rem;
        color: #666;
        line-height: .5rem;
        font-family: "Microsoft YaHei"; }
    .nearby .text .text-com {
      font-size: .32rem;
      line-height: 1.8;
      color: #666;
      font-family: "Microsoft YaHei"; }
      .nearby .text .text-com span {
        border: 1px solid #008077;
        border-radius: 3px;
        margin-right: .1rem;
        padding: 2px 5px; }
        .nearby .text .text-com span:nth-child(2n) {
          border: 1px solid #ff9500; }
    .nearby .text .text-bottom {
      font-family: "Microsoft YaHei";
      font-size: .36rem;
      line-height: 1.8;
      color: #666; }

.recommend {
  width: 100%;
  overflow: hidden; }
  .recommend h2 {
    padding: 0 5%;
    font-size: .36rem;
    color: #008077;
    line-height: 2;
    font-family: "Microsoft YaHei"; }
  .recommend .swiper-recommend {
    margin: 2% -5%; }
  .recommend #swiper-container1 {
    overflow: inherit;
    width: 80%; }
  .recommend .img {
    width: 100%;
    position: relative; }
    .recommend .img i {
      position: absolute;
      top: .5rem;
      right: .5rem;
      background: #fff;
      width: 1rem;
      height: 1rem;
      border-radius: 100%;
      text-align: center;
      line-height: 1rem;
      box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px; }
    .recommend .img h3 {
      position: absolute;
      top: 60%;
      left: 0;
      background: rgba(0, 128, 119, 0.8);
      padding: .2rem .3rem;
      font-size: .6rem;
      color: #fff;
      border-radius: 0 30px 30px 0;
      font-family: "Microsoft YaHei"; }
      .recommend .img h3 span {
        font-size: .4rem; }
    .recommend .img p {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      line-height: 2;
      background: rgba(0, 0, 0, 0.6);
      font-size: .36rem;
      font-family: "Microsoft YaHei";
      color: #fff;
      padding: 0 2%; }
      .recommend .img p span {
        background: #fff;
        border-radius: 3px;
        color: #333;
        font-size: .34rem;
        padding: 0 .1rem;
        margin-right: .2rem; }
  .recommend .text {
    padding: 0 1%;
    margin: 3% 0; }
    .recommend .text .text-top {
      width: 100%;
      height: .6rem;
      overflow: hidden; }
      .recommend .text .text-top h3 {
        float: left;
        font-size: .4rem;
        color: #333;
        line-height: .5rem;
        font-family: "Microsoft YaHei"; }
      .recommend .text .text-top p {
        float: right;
        font-size: .36rem;
        color: #666;
        line-height: .5rem;
        font-family: "Microsoft YaHei"; }
    .recommend .text .text-com {
      font-size: .32rem;
      line-height: 1.8;
      color: #666;
      font-family: "Microsoft YaHei"; }
      .recommend .text .text-com span {
        border: 1px solid #008077;
        border-radius: 3px;
        margin-right: .1rem;
        padding: 2px 5px; }
        .recommend .text .text-com span:nth-child(2n) {
          border: 1px solid #ff9500; }
    .recommend .text .text-bottom {
      font-family: "Microsoft YaHei";
      font-size: .36rem;
      line-height: 1.8;
      color: #666; }

.buttom {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #008077;
  height: 1.28rem;
  text-align: center;
  line-height: 1.28rem;
  font-size: .36rem;
  font-family: "Microsoft YaHei";
  color: #fff;
  z-index: 2;
  text-decoration: none; }

/*# sourceMappingURL=detailed.css.map */
